{{define "header"}}
<html>
<head>
	<title>{{.}}</title>
	<meta charset="UTF-8">

	<!--[if lt IE 9]>
		<script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coustard:400&amp;subset=latin" />

	<link rel="stylesheet" type="text/css" href="/bower_components/normalize-css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/application.css">
	<link rel="stylesheet" type="text/css" href="/static/styles/prism.css">
</head>
<body>
	<div id="body-wrapper">
		<header class="siteHeader mCont">
			<hgroup>
				<h1>
					<a href="/" rel="home" class="logo">Gopher Blog</a>
				</h1>
			</hgroup>

			<nav class="mainNavigation" role="navigation">
				<ul class="siteMenu">
					<li class="active">
						<a href="/" title="Articles">Articles</a>
					</li>
					<!--<li>
						<a href="#" title="About">About</a>
					</li>
					<li>
						<a href="#" title="Contact">Contact</a>
					</li>-->
				</ul>
			</nav>
		</header>

		<section id="main-content" class="mCont">
{{end}}
