{{define "post"}}
{{template "header" "Post"}}

<div class="siteContent">
	<article class="post">
		<header class="entryHeader">
			<h1 class="entryTitle">
				<a href="/post/{{.Slug}}" title="{{.Title}}" rel="bookmark">{{.Title}}</a>
			</h1>
		</header>

		<footer class="entryMeta">
			<span>posted on <a href="/post/{{.Slug}}" title="{{.Date}}" rel="bookmark"><time datetime="{{.Date}}">{{.FormattedDate}}</time></a></span>
			<span> by {{.Author.Name}}</a></span>
		</footer>

		<div class="entryContent">
			<p>{{.BodyHTML}}</p>
		</div>
	</article>
</div>

{{template "footer"}}
{{end}}
