body {
  color: #444;
  font-family: "Lora", Georgia, serif;
  font-size: 10px;
  line-height: 1.4; }

a {
  color: #333;
  text-decoration: none; }

ul, li, form, fieldset {
  border: none;
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Coustard", Georgia, serif;
  margin: 0.8em 0 0.4em 0; }

code {
  background-color: #f1f1f1;
  font-family: Consolas, Monaco, Monospace, Verdana;
  padding: 0.2em 0.3em;
  font-size: 0.9em; }

::selection {
  background: #FF9;
  color: #333;
  text-shadow: none; }

input[type="search"],
input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #ddd;
  color: #444;
  font-family: Consolas, Verdana;
  font-size: 1.4em;
  padding: 0.7em;
  max-width: 100%;
  width: 260px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  input[type="search"]:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  textarea:focus {
    border-color: #aaa;
    outline: 0; }
  input[type="search"].short,
  input[type="text"].short,
  input[type="password"].short,
  textarea.short {
    height: 150px;
    margin-bottom: 15px; }

textarea {
  height: 500px;
  width: 100%; }

.mCont {
  max-width: 1024px;
  margin: 0 auto; }

.entryMeta a,
.entryContent a,
.siteFooter a {
  border-bottom: 1px dotted #ccc; }
  .entryMeta a:hover,
  .entryContent a:hover,
  .siteFooter a:hover {
    background-color: #f7f7f7;
    color: #000; }

.entryTitle a:hover,
.widget a:hover {
  background-color: #f7f7f7;
  border-bottom: 1px dotted #ccc;
  color: #000; }

.columns {
  *zoom: 1; }
  .columns:before, .columns:after {
    content: " ";
    display: table; }
  .columns:after {
    clear: both; }
  .columns.twoThird .column {
    margin-left: 6%;
    width: 37%; }
    .columns.twoThird .column:first-child {
      margin-left: 0;
      width: 57%; }
  .columns .column {
    float: left;
    width: 50%; }

.siteHeader {
  padding-top: 3.6em;
  padding-bottom: 4.8em; }
  .siteHeader hgroup {
    margin-bottom: 6em; }
    .siteHeader hgroup h1 {
      height: 170px;
      margin: 0 auto;
      width: 125px; }
      .siteHeader hgroup h1 .logo {
        background: url(/static/images/logo.png) no-repeat;
        background-size: 125px 170px;
        display: block;
        height: 100%;
        text-indent: -900em; }

.mainNavigation {
  border-style: solid;
  border-width: 1px 0;
  border-color: #eee;
  text-align: center; }
  .mainNavigation .siteMenu {
    display: inline-block; }
    .mainNavigation .siteMenu li {
      color: #333;
      display: inline-block;
      font-family: "Coustard", Georgia, serif;
      margin: 0 1.25em;
      max-height: 1.5em;
      font-size: 1.4em;
      padding: 1em 0;
      position: relative; }
      .mainNavigation .siteMenu li.active a {
        color: #9e3d34; }
      .mainNavigation .siteMenu li a {
        color: inherit;
        display: inline-block;
        line-height: 1.6em; }
        .mainNavigation .siteMenu li a:hover {
          border-bottom: 1px dotted #ccc; }

#main-content {
  padding-bottom: 6em; }

.siteContent .post {
  padding: 2em 0 2em 0; }
  .siteContent .post .entryHeader {
    text-align: center; }
    .siteContent .post .entryHeader .entryTitle {
      font-size: 3em;
      font-weight: 400;
      text-align: left;
      margin: 0; }
  .siteContent .post .entryMeta {
    color: #aaa;
    font-size: 1.3em;
    letter-spacing: 1px;
    text-align: left;
    padding: 0.5em 0 0.5em 0; }
  .siteContent .post .entryContent {
    font-size: 1.6em;
    padding: 0.25em 0 1.25em 0; }
    .siteContent .post .entryContent p {
      margin: 1em 0 0 0; }
    .siteContent .post .entryContent .moreLink {
      border-bottom: 1px dotted #ccc;
      color: #444;
      display: block;
      font-weight: 400;
      font-size: 0.925em;
      max-width: 18.75em;
      margin: 1.5em 0 0 0;
      letter-spacing: 2px;
      padding: 0.5em 0 0.4em 0; }

.widgetArea {
  padding: 1.6em 0; }
  .widgetArea .widget {
    padding: 0 0 4em; }
    .widgetArea .widget .widgetTitle {
      font-size: 1.9em;
      margin: 1em 0 0.6em 0; }
    .widgetArea .widget .links {
      margin: 1.8em 0; }
      .widgetArea .widget .links li {
        font-size: 1.4em;
        line-height: 1.6em; }
    .widgetArea .widget .tags li {
      display: inline-block;
      margin-bottom: 3px; }
      .widgetArea .widget .tags li a {
        background-color: #f7f7f7;
        display: inline-block;
        font-size: 1.3em;
        padding: 8px 15px; }
        .widgetArea .widget .tags li a:hover {
          background-color: #eee;
          border: none; }

.siteFooter {
  border-top: 1px solid #eee;
  color: #666;
  font-size: 1.4em;
  padding: 2em 0;
  text-align: center; }
