.columns {
	@include clearfix;
	&.twoThird {
		.column {
			margin-left: 6%;
			width: 37%;
			&:first-child {
				margin-left: 0;
				width: 57%;
			}
		}
	}

	.column {
		float: left;
		width: 50%;
	}
}
