body {
	color: #444;
	font-family: "Lora", Georgia, serif;
	font-size: 10px;
	line-height: 1.4;
}

a {
	color: #333;
	text-decoration: none;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

::selection {
	background: #FF9;
	color: #333;
	text-shadow: none;
}

.mCont {
	max-width: 1024px;
	margin: 0 auto;
}

.sideContent a,
.siteFooter a {
	border-bottom: 1px dotted #ccc;
	&:hover {
		background-color: #f7f7f7;
		color: #000;
	}
}
