#main-content {
	padding-bottom: 6em;
}

.siteContent {
	.post {
		padding: 2em 0 4em 0;
		.entryHeader {
			text-align: center;
			.entryTitle {
				font-size: 3em;
				font-weight: 400;
				margin-top: 0;
			}
		}
		.entryMeta {
			color: #aaa;
			font-size: 1.3em;
			letter-spacing: 1px;
			text-align: center;
			padding: 0.6em 0 1.2em 0;
		}
		.entryContent {
			font-size: 1.6em;
			padding: 0.25em 0 1.25em 0;
			.moreLink {
				border-bottom: 1px dotted #ccc;
				color: #444;
				display: block;
				font-weight: 400;
				font-size: 0.925em;
				max-width: 18.75em;
				margin: 2.5em auto 0 auto;
				letter-spacing: 2px;
				padding: 0.5em 0 0.4em 0;
				text-align: center;
			}
		}
	}
}

.widgetArea {
	padding: 1.6em 0;
	.widget {
		padding: 0 0 4em;
		.widgetTitle {
			font-size: 1.9em;
			margin: 1em 0 0.6em 0;
		}

		.links {
			margin: 1.8em 0;
			li {
				font-size: 1.4em;
				line-height: 1.6em;
			}
		}

		.tags {
			li {
				display: inline-block;
				margin-bottom: 3px;
				a {
					background-color: #f7f7f7;
					display: inline-block;
					font-size: 1.3em;
					padding: 8px 15px;
					&:hover {
						background-color: #eee;
						border: none;
					}
				}
			}
		}
	}
}
